body{
    padding: 0;
    margin: 0;
    
}

header{
    background-color:white;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
}

.logo{
    width: 130px;
    height:60px ;
    background-color:white;
    margin-top: 0px;
}

#fb{
    width: 150px;
    height:45px ;
    margin-top: 0;
    background-color: white;

}

.div2{
    
    display: flex;
    
    margin-left: 20px;
    margin-top: 12px;
}

.search-bar{
    height: 19.6px;
    border: none;
   outline: none;

    padding-left: 0;
     
}

#search-icon{
    
    height: 19.6px;
    border: none;
    padding: 0;
    
}

#btn1{
    background-color: white;
    outline: none;
    height: 25px;
    border: 1.5px solid black;
    border-radius: 14px;
   
    
}

#span1{
    margin-top: 15px;
    margin-left: 80px;
}

#btn2{
    outline: none;
    border: none;
    background-color: white;
}

#span2{
    margin-top: 15px;
    margin-left: 40px;
}

#btn3{
    outline: none;
    border: none;
    background-color: white;
}

#span3{
    margin-top: 15px;
    margin-left: 40px;
}

#btn4{
    outline: none;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}

#span4{
    margin-top: 15px;
    margin-left: 40px;
}

#btn5{
    outline: none;
    border: none;
    background-color: white;
}

#span5{
    margin-top: 15px;
    margin-left: 200px;
}

#btn6{

    
    outline: none;
    border: .90px solid black;
    border-radius: 45%;
    
}


#span6{
    margin-top: 15px;
    margin-left: 30px;
}

#btn7{

    
    outline: none;
    border: .90px solid black;
    border-radius: 45%;
    
}

#span7{
    margin-top: 15px;
    margin-left: 30px;
}

#btn8{

    
    
    border: .90px solid black;
    border-radius: 45%;
    
}

.main-profile{
    height: 400px;
    width: 220px;
    border: 1px solid black;
    display: inline-block;
}





.inner-div{
    /* border: 1px solid black; */
    height: 35px;
    align-items: center;
    
}

#btn-1{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-top: 2.5px;
    border-radius: 50%;
}

#btn-2{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-top: 2.5px;
    border-radius: 50%;
}

#btn-3,#btn-4,#btn-5,#btn-6,#btn-7,#btn-8,#btn-9,#btn-10{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-top: 2.5px;
    border-radius: 50%;
}


a{
    margin-left: 10px;
    color: rgb(8, 8, 8);
    font-style: normal;
}


.inner-div:hover{
    background-color: rgb(245, 237, 237);
    height: 38px;
}

#sel-1{
    border: 1px solid black;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-top: 2.5px;
    border-radius: 50%;
    align-items: center;
}

.scroll-bar{
    height: 400px;
    width: 10px;
    border: 1px solid black;
    margin-top: 0;
    margin-left: 220px;
}


